<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">


    <ion-button class="add-button" shape="round" routerLink="/admin-edit-rute">
      Agregar Nueva Ruta
    </ion-button>

    <ion-card>    
    <ion-item *ngFor="let ruta of rutas">
          <ion-label>
            Nombre: {{ruta.nombre}} <br>
            Descripcion: {{ruta.descripcion}} <br>
            Inicio: {{ruta.inicio}} <br>
            Destino: {{ruta.destino}} 
          </ion-label>
          <ion-buttons>
            <ion-button (click)="edit(ruta)" color="warning">Editar</ion-button>
            <ion-button (click)="delete(ruta)" color="danger">Eliminar</ion-button>
          </ion-buttons>
      </ion-item>
    </ion-card>
 
    <ion-text *ngIf="rutas.length === 0" color="medium" class="no-vehiculos">
      <p>No hay rutas disponibles.</p>
    </ion-text>
</ion-content>
