<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container-">
    <ion-button class="add-button styled-button" (click)="create()">Agregar Nueva Ruta</ion-button>

    <ion-card class="card-container" *ngFor="let ruta of rutas">
      <ion-item>
        <ion-label>
          <strong>Nombre:</strong> {{ruta.nombre}} <br>
          <strong>Descripción:</strong> {{ruta.descripcion}} <br>
          <strong>Inicio:</strong> {{ruta.inicio}} <br>
          <strong>Destino:</strong> {{ruta.destino}}
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="edit(ruta)" color="warning">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>
          <ion-button (click)="delete(ruta)" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card>
  </div>
  <div class="card-container">
    <ion-text *ngIf="rutas.length === 0" color="medium" class="no-rutas">
      <p>No hay rutas disponibles.</p>
    </ion-text>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Puedes añadir botones aquí si es necesario -->
    </ion-buttons>
  </ion-toolbar>
</ion-footer>