<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div style="padding: 20px;">
    <ion-select placeholder="Seleccionar Servicio" (ionChange)="onServiceChange($event.detail.value)">
      <ion-select-option *ngFor="let service of services" [value]="service.id">{{ service.Nombre }}</ion-select-option>
    </ion-select>
  </div>

  <div *ngIf="selectedService" style="padding: 20px;">
    <ion-select placeholder="Seleccionar Ruta" (ionChange)="onRutaChange($event.detail.value)">
      <ion-select-option *ngFor="let ruta of rutas" [value]="ruta.id">{{ ruta.nombre }}</ion-select-option>
    </ion-select>
  </div>

  <div class="map-wrapper">
    <div #map id="my-map" style="height: 100%; width: 100%;"></div>
  </div>

  <p>{{ currentPosition }}</p>
</ion-content>