<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Rutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mapa Usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="padding: 20px;">
    <ion-select placeholder="Seleccionar Rutas">
      <ion-select-option *ngFor="let ruta of rutas" [value]="ruta.nombre">{{ ruta.nombre }}</ion-select-option>
    </ion-select>
  </div>

  <ion-button (click)="printCurrentPosition()">Obtener Posición Actual</ion-button>
  <p>{{ currentPosition }}</p>


</ion-content>