<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container">
    <form (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="email" [(ngModel)]="correo" name="correo" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="contrasenna" name="contrasenna" required></ion-input>
      </ion-item>
      <ion-button class="styled-button" type="submit" style="margin-top: 20px;">Iniciar sesión</ion-button>
    </form>
  </div>
</ion-content>