<ion-app>
  <ion-split-pane contentId="main-content" *ngIf="showSidebar">
    <ion-menu side="start" menuId="first" contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>GeoTransporte</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item routerLink="/admin-driver" (click)="closeMenu()">
            <ion-label>Conductores</ion-label>
          </ion-item>
          <ion-item routerLink="/admin-rute" (click)="closeMenu()">
            <ion-label>Rutas</ion-label>
          </ion-item>
          <ion-item routerLink="/admin-vehicle" (click)="closeMenu()">
            <ion-label>Vehiculos</ion-label>
          </ion-item>
          <ion-item routerLink="/admin-panel" (click)="closeMenu()">
            <ion-label>Historial</ion-label>
          </ion-item>
        </ion-list>
        <ion-button class="styled-button" routerLink="/inicio" style="margin-top: 20px;" (click)="logoutAndGoHome()">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
          Volver a Inicio
        </ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>

  
  <ion-button class="footer" fill="clear" (click)="setOpen(true)" >Políticas de Empresa</ion-button>
  <ion-modal [isOpen]="isModalOpen" >
    <ng-template >
      <ion-header>
        <ion-toolbar>
          <ion-title >Políticas de Empresa</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="back-ground">
        <div class="policies">
          <h1>Reglas y políticas del servicio</h1>
          <p>Bienvenido a las políticas del servicio. Aquí encontrarás nuestras reglas de conducta y otros lineamientos importantes para nuestros socios.</p>
          <h3>Al crear un usuario conductor, considerar:</h3>
          <ul>
            <li>Regla 1: Crear usuarios con nomenclatura especial (Por ejemplo: Nombre_Apellido_Servicio)</li>
            <li>Regla 2: Seleccionar o agregar vehiculos y rutas que podra usar el conductor a crear.</li>
            <li>Regla 3: No tener nombres repetidos o duplicados.</li>
            <li>Regla 4: Cumplir con las normativas y politicas.</li>
            <li>Política 1: Privacidad de la información del cliente.</li>
            <li>Política 2: Uso responsable de los recursos de la empresa.</li>
          </ul>
        </div>

      </ion-content>
    </ng-template>
  </ion-modal>

  </ion-split-pane>

  <ion-router-outlet *ngIf="!showSidebar" id="main-content"></ion-router-outlet>

</ion-app>