<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Admin Vehicle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Admin Vehicle</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="newvehiculo.nombre" required maxlength="12"></ion-input>
    </ion-item>
    <ion-text *ngIf="!newvehiculo.nombre && cargando" color="danger">
      El nombre es obligatorio.
    </ion-text>
    <ion-text *ngIf="newvehiculo.nombre?.length > 12" color="danger">
      El nombre no puede tener más de 12 caracteres.
    </ion-text>
   
    <ion-item>
      <ion-label position="floating">Patente</ion-label>
      <!-- Aquí llamamos a la función para formatear la patente -->
      <ion-input [(ngModel)]="newvehiculo.patente" (ionInput)="formatPatente()" required maxlength="9"></ion-input>
    </ion-item>
    <!-- Mensaje de validación para la patente -->
    <ion-text *ngIf="!newvehiculo.patente && cargando" color="danger">
      La patente es obligatoria.
    </ion-text>
    <ion-text *ngIf="!isPatenteValid()" color="danger">
      La patente debe tener el formato XX-XX-XX.
    </ion-text>

  </ion-card>

  <ion-button (click)="save()" expand="block" shape="round" [disabled]="!isFormValid()">
    Guardar
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let vehiculo of vehiculos">
      <ion-label>
        Nombre: {{vehiculo.nombre}} <br>
        Patente: {{vehiculo.patente}}
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="edit(vehiculo)">Editar</ion-button>
        <ion-button (click)="delete(vehiculo)">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>
