<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="main-container-">
    <ion-button class="add-button styled-button" (click)="create()">Agregar Nuevo Vehículo</ion-button>

    <ion-card class="card-containe" *ngFor="let vehiculo of vehiculos">    
      <ion-item >
        <ion-label>
          <strong>Nombre:</strong> {{vehiculo.nombre}} <br>
          <strong>Patente:</strong> {{vehiculo.patente}} 
        </ion-label>
        <ion-buttons>
          <ion-button (click)="edit(vehiculo)" color="warning">Editar</ion-button>
          <ion-button (click)="delete(vehiculo)" color="danger">Eliminar</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card>
  </div>
  <div class="card-container">
    <ion-text *ngIf="vehiculos.length === 0" color="medium" class="no-vehiculos">
      <p>No hay vehículos disponibles.</p>
    </ion-text>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-footer>