<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <ion-button (click)="create()" expand="block" class="styled-button">
    Agregar Nuevo Conductor
  </ion-button>
<div class="card-container">
  <ion-card *ngFor="let conductor of conductores">
    <ion-item >
      <ion-label>
        Correo: {{conductor.correo}} <br>
        Contraseña: <span *ngIf="showPassword[conductor.id]; else hiddenPassword">{{conductor.contrasenna}}</span>
        <ng-template #hiddenPassword>********</ng-template>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="togglePasswordVisibility(conductor.id)">
          <ion-icon [name]="showPassword[conductor.id] ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
        <ion-button (click)="edit(conductor)" color="warning">Editar</ion-button>
        <ion-button (click)="delete(conductor)" color="danger">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>
</div>

<div class="card-container">
  <ion-text *ngIf="conductores.length === 0" color="medium" class="no-conductores">
    <p>No hay conductores disponibles.</p>
  </ion-text>
</div>

</ion-content>