<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Conductores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <ion-card>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="newConductor.correo" required></ion-input>
    </ion-item>
    <ion-text *ngIf="!newConductor.correo && cargando" color="danger">
      El correo es obligatorio.
    </ion-text>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="newConductor.contrasenna" type="password" required></ion-input>
    </ion-item>
    <ion-text *ngIf="!newConductor.contrasenna && cargando" color="danger">
      La contraseña es obligatoria.
    </ion-text>
  </ion-card>

  <ion-button (click)="save()" expand="block" shape="round" [disabled]="!isFormValid() || cargando">
    Guardar
  </ion-button>

  <ion-card>
    <ion-item *ngFor="let conductor of conductores">
      <ion-label>
        Correo: {{conductor.correo}} <br>
        Contraseña: <span *ngIf="showPassword[conductor.id]; else hiddenPassword">{{conductor.contrasenna}}</span>
        <ng-template #hiddenPassword>********</ng-template>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="togglePasswordVisibility(conductor.id)">
          <ion-icon [name]="showPassword[conductor.id] ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
        <ion-button (click)="edit(conductor)" color="warning">Editar</ion-button>
        <ion-button (click)="delete(conductor)" color="danger">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>

  <ion-text *ngIf="conductores.length === 0" color="medium" class="no-conductores">
    <p>No hay conductores disponibles.</p>
  </ion-text>
</ion-content>