<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mapa Conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Conductor</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="padding: 20px;">
    <ion-item>
      <ion-label>Seleccionar Ruta</ion-label>
      <ion-select [(ngModel)]="selectedRuta" placeholder="Seleccionar Ruta">
        <ion-select-option *ngFor="let ruta of rutas" [value]="ruta.nombre">{{ ruta.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Seleccionar Vehículo</ion-label>
      <ion-select [(ngModel)]="selectedVehiculo" placeholder="Seleccionar Vehículo">
        <ion-select-option *ngFor="let vehiculo of vehiculos" [value]="vehiculo.nombre">
          {{ vehiculo.nombre }} - {{ vehiculo.patente }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>
</ion-content>